<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Facial Analysis
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/logo.png"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Welcome</ion-card-subtitle>
        <ion-card-title>ยินดีต้อนรับ to Facial Analysis
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>โน้มการเกิดปัญหาผิวในอนาคต เพื่อจะได้วางแผนป้องกัน และดูแลผิวหน้าได้อย่างเหมาะสม ....</p>
      </ion-card-content>
      <ion-button expand="block" (click)="onStart()" color="secondary" routerDirection="forward" >เริ่มต้นใช้งาน</ion-button>

    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>เพิ่มเติม</ion-label>
      </ion-list-header>
      <ion-item  (click)="onHelp()">
        <ion-icon slot="start" color="medium" name="book" color="secondary"></ion-icon>
        <ion-label>คู่มือการใช้งาน</ion-label>
      </ion-item>
      <ion-item  (click)="onServices()">
        <ion-icon slot="start" color="medium" name="grid" color="secondary"></ion-icon>
        <ion-label>บริการอื่น</ion-label>
      </ion-item>
      <ion-item  (click)="onContact()">
        <ion-icon slot="start" color="medium" name="contact" color="secondary"></ion-icon>
        <ion-label>ติดต่อเรา</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
